h1{justify-content: center; display: flex; background-color: greenyellow;}
h1:hover{color: white; background-color: black;}
p{justify-content: center; display: flex;}
form{justify-content: center; display: flex;}